<h1>individual student details page</h1>

<h2><%= currentStudent.first_name %> <%= currentStudent.last_name %> </h2>
<h3>student created at <%= currentStudent.createdAt %></h3>

<h4>hallpass usage for this student</h4>
<ul>
    <% studentsHallpasses.forEach(hallpass => { %>
        <li>
            <%- hallpass.start_time.getMonth()+1 %> / <%- hallpass.start_time.getDate() %> / <%- hallpass.start_time.getFullYear() %> <br>
            <!-- check if user is currently ON hallpass by checking if end_time is null -->
            <% if (hallpass.end_time !== null) { %>
                <!-- do some math to display how long student was on hall pass -->
                <% if (((hallpass.end_time - hallpass.start_time) / 1000)/60 > 1) { %>
                    <%- Math.floor(((hallpass.end_time - hallpass.start_time) / 1000) / 60) %> minutes
                <% }else{ %>
                    under 1 minute
                <% } %>
            <!-- if current hall pass does not have an end_time value -->
            <% } else { %>
                hallpass in progress
            <% } %> 
        </li>
    <% }) %>
</ul>