<h1>individual student details page</h1>

<h2><%= currentStudent.first_name %> <%= currentStudent.last_name %> </h2>
<h3>student created at <%= currentStudent.createdAt %></h3>
<h3>student appears in "x" classes</h3>

<h4>add student to a new class:</h4>
<!-- if i'm only creating an association via a join table to i need to use POST method -->
<form action="/students">
    <label for="classroomSelector">select new classroom</label>
    <select name="classroomSelector" id="classroomSelector">
        <option value="">--please select a classroom--</option>
        <% classroomList.forEach(classroom => { %>
        <option value="<%- classroom.class_name %>">
            <%- classroom.class_name %> 
        </option>
    <% }) %>
    </select>
    <button type="submit">add student to selected class</button>
</form>

