<h1>My Classrooms</h1>

<% if (currentClassroom.userId === user.id) { %>
 
    <h2>viewing   <%- currentClassroom.class_name %> </h2>
    
     <h4>roster for <%- currentClassroom.class_name %> :</h4>
    <div class="container">
        
        <% studentsInClass.forEach(student => { %>

            <!-- trying bootstrap cards -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/students/<%= student.id %>">
                      <%- student.last_name %>, <%- student.first_name %></h5>
                    </a>
                  <p class="card-text">maybe put additional student info in here?</p>
                  <% if (!student.has_pass) { %>
                    <form action="/classrooms/hallpass-checkout" method="POST" id="hallpass-checkout">
                        <input type="hidden" value="<%= student.id %>" name="currentStudent">
                        <input type="hidden" value="<%= currentClassroom.id %>" name="thisClassroom">
                         <button type="submit" class="btn btn-primary">hallpass checkout</button>
                     </form>
                 <% } else {%>
                    <form action="/classrooms/hallpass-checkin?_method=PUT" method="POST" >
                        <input type="hidden" value="<%= student.id %>" name="currentStudent">
                        <input type="hidden" value="<%= currentClassroom.id %>" name="thisClassroom">
                        <button type="submit" class="btn btn-warning">hallpass checkin</button>
                     </form>
                <% } %>
                </div>
              </div>
         <div class="student-info">
            <div class="student-delete-form">
                 <form action="/classrooms/remove-student?_method=DELETE" method="POST" id="student-delete">
                     <label for="remove-student"></label>
                     <input type="hidden" value="<%= student.id %>" name="currentStudent">
                     <input type="hidden" value="<%= currentClassroom.id %>" name="thisClassroom">
                     
                    
                     <button type="submit">remove student from class</button>
                 </form>
             </div>
             <% // if student is not currently on hallpass, allow timer start %>
             <div class="hallpass-forms">
                 
             </div>
        </div>
        <% }) %>
        <!-- form to add student from classroom page -->
        <div class="add-student">
            <form action="/classrooms/create-student" method="POST" id="add-student">
                <label for="add-student"></label>
                <input type="hidden" value="<%= currentClassroom.id %>" name="thisClassroom">
                <input type="text" name="first_name" id="first-name" placeholder="first name">
                <input type="text" name="last_name" id="last-name" placeholder="last name">
    
                
               
                <button type="submit">add student to class</button>
            </form>
        </div>
    </div>
<% } else { %>
    <h3>this is not your classroom!!</h3>
    <a href="/classrooms">back to classrooms</a>
<% } %>