<h1>hit the show classrooms route</h1>
<h2>viewing info about  </h2>


 <h3>
     <%- currentClassroom.class_name %> 
 </h3>
 <h4>list of students that have been added to this classroom:</h4>
<ul>
    <% studentsInClass.forEach(student => { %>
     <li>
         <a href="/students/<%-student.id%>">
             <%- student.last_name %>, <%- student.first_name %> 
         </a>

         <!-- possible method override to remove student -->
         <form action="/classrooms/remove-student?_method=DELETE" method="POST">
             <label for="remove-student"></label>

             <input type="hidden" value="<%= student.id %>" name="currentStudent">

             <input type="hidden" value="<%= currentClassroom.id %>" name="thisClassroom">
             
            
             <button type="submit" name="currentStudent">remove student from class</button>
         </form>

     </li>
    <% }) %>
</ul>